{% extends 'base_template.html' %}
{% block content %}
    <div class="inner-bg">
    <div class="container top-container">
      <div class="col-md-8 ">
            <center>
              </center>
                <form action="" method="post" class="form-inline">{% csrf_token %}
                    <div class="form-group">
                    <div class="col-5 offset-md-4 top-indent">

                        <button class="choose-presentation"><a href="{% url 'presentation:sprint_name' %}">Choose presentation</a></button>

                    </div>
                  </div>
                </form>
             </div>
      </div>
    </div>
{% endblock %}